@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');



/* Fond général */
body {
    background-image: url("./images/back.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 5vh 2vw;
    line-height: 260%;
    font-family: 'Mountains of Christmas', serif;
    color: #153248;
    /* Epaissis le texte car pas de bold dispo dans cette police */
    font-weight: 500;
    text-shadow: 1px 0px 0px currentColor;
}



/* Grand titre  */
.titre {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-bottom: 2%;
}

#imgt1 {
    height: 70px;
}

#imgt2 {
    height: 70px;
}

#t1,
#t2 {
    font-size: 3.5vw;
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 400;

}

/* Bloc principal  */
.carte-noel {
    background-color: #fffdf7;
    width: 70%;
    border-radius: 18px;
    border: 12px solid #28445a;
    padding: 3% 5% 0 5%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    box-shadow: 0 1.5vh 3vh rgba(0, 0, 0, 0.25);
}

/* --------- Bloc présentation --------- */
/* --------- Bloc présentation --------- */
/* --------- Bloc présentation --------- */


.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;


}



/* Ligne 1 et ligne 2 en horizontal */
#p1,
#p2 {
    display: flex;
    /* espace entre les deux phrases */
    gap: 1.5rem;
    /* aligne inputs et texte correctement */
    align-items: center;
}

.presentation p {
    margin: 0.6rem 0;
    white-space: nowrap;

}

/* Inputs intégrés dans la ligne */
.presentation input {
    border: none;
    border-bottom: 1px solid #c9b79d;
    background-color: #f9e7d5;
    padding: 0.1rem 0.4rem;
    min-width: 8rem;
    border-radius: 4px;
}

.presentation img {
    height: 40px;
    vertical-align: middle;
}

/* --------- Décorations au centre --------- */
.decor-centre {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 0.5rem;
}

/* ajuste selon tes images */
.decor-centre img {
    height: 50px;
}

/* --------- Titre souhaits --------- */
.titre-souhaits {
    text-align: center;
    margin-top: 1%;
}

.titre-souhaits h2 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
}


/* ----------------------- Colonne gauche ------------------------  */
/* ----------------------- Colonne gauche ------------------------  */
/* ----------------------- Colonne gauche ------------------------  */

.colonnes-cadeaux {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    align-items: stretch;
}


.kdo {
    flex: 2;
    background-color: #f9e7d5;
    border-radius: 16px;
    padding: 2% 3%;
    text-align: center;
    line-height: 200%;
}

.kdo img {
    height: 40px;
}

/* supprime les puces */
.kdo ul {
    list-style: none;
    padding-left: 0;

    margin: 0;
}

/* espace pour l’image */
.kdo li {

    position: relative;
    padding-left: 2.4rem;
    margin-bottom: 0.5rem;
}

/* 1ère image */
.kdo li:nth-child(3n + 1)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("./images/cadeau1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* nth-child(3n + 1) pour cibler les 1ers, 4èmes, 7èmes, etc. */

/* 2ème image */
.kdo li:nth-child(3n + 2)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("./images/cadeau2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 3ème image */
.kdo li:nth-child(3n)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("./images/cadeau3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Chaque input de la liste de cadeaux occupe toute la largeur de la ligne */
.kdo input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c97d26;
    padding: 0.1rem 0.3rem;
    background-color: transparent;
}

/* ------------------ Colonne droite ----------------------*/
/* ------------------ Colonne droite ----------------------*/
/* ------------------ Colonne droite ----------------------*/

.colonne-droite {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* Bloc cadeau préféré */
.pref {
    background-color: #f9e7d5;
    padding: 1rem;
    border-radius: 16px;
}

/* supprime les puces */
.pref ul {
    list-style: none;
    padding-left: 0;
    padding-right: 50px;
    margin: 0;
}

/* Fait des lignes pour écrire*/
.pref input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c97d26;
    padding: 0.2rem 0.3rem;
    background-color: transparent;
}


/* petite icône de cadeau dans le texte */
.pref p img {
    height: 24px;
    vertical-align: middle;
}

/* Image du cadeau alignée à droite ou au centre */
.image-pref {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
}

.image-pref img {
    height: 30px;
}


/* ------------- Gater ----------------*/
/* ------------- Gater ----------------*/
/* ------------- Gater ----------------*/

.gater {
    background-color: #f9e7d5;
    padding: 1rem;
    border-radius: 16px;
}

/* supprime les puces */
.gater ul {
    list-style: none;
    padding-left: 0;
    padding-right: 50px;
    margin: 0;
}

/* Fait des lignes pour écrire*/
.gater input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c97d26;
    padding: 0.2rem 0.3rem;
    background-color: transparent;
}


/* --------- Message/signature --------- */
/* --------- Message/signature --------- */
/* --------- Message/signature --------- */
/* --------- Message/signature --------- */


.message-final p {
    margin: 0;
    word-spacing: 5px;
}

/* Inputs intégrés dans la ligne */
.message-final input {
    border: none;

    background-color: #f9e7d5;
    padding: 0.2rem 0.4rem;
    min-width: 7rem;
    border-radius: 4px;
}

#surprise {
    /* permet de remplir la ligne */
    width: 80%;
    border-radius: 8px;
    padding: 0.4rem 0.6rem;
    background-color: #f9e7d5;
    box-sizing: border-box;
}

.signature {
    text-align: right;

}

.signature input {
    padding: 0.4rem 0.6rem;
}

/* --------- Décorations du bas --------- */
.bas {
    width: 100%;
    margin: 0;
    margin-top: 1%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.bas img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}


/* --------- placeholder --------- */


::placeholder {
    border: none;
    color: #b3a089;
    font-style: italic;
}



/* ============ Responsive téléphone ============ */

@media (max-width: 768px) {

    body {
        padding: 2vh 2vw;
        line-height: 200%;
    }

    .carte-noel {
        width: 95%;
        padding: 4% 4% 0 4%;
        border-width: 8px;
        gap: 3%;
    }

    #t1,
    #t2 {
        font-size: 7vw;
    }

    .presentation {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    #p1,
    #p2 {
        flex-direction: column;
        gap: 0.2rem;
        align-items: flex-start;
    }

    .colonnes-cadeaux {
        flex-direction: column;
        gap: 4%;
    }

    .kdo,
    .colonne-droite {
        flex: 1;
    }

    #surprise {
        width: 100%;
    }
}